<% layout("layouts/boilerplate"); %>

    <body>
        <div class="row">
             <h3 class="offset-md-2  col-12 col-sm-6 col-md-8 mb-3 mt-3">Create new Listing</h3>
            <div class="offset-md-2  col-12 col-sm-6 col-md-8 formDesign mb-3">
                <form action="/listing" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <!-- Title -->
                    <div class=" mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" id="title" class="form-control" placeholder="Enter title"
                            required>
                        <div class="invalid-feedback">
                            Enter you title!
                        </div>

                    </div>
                     <div class="mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" name="contact" id="contact" class="form-control"
                            placeholder="Enter Mobile number" required>
                        <div class="invalid-feedback">
                            Please enter valid mobile number!
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-control"
                            placeholder="Enter description" rows="5" required></textarea>
                        <div class="invalid-feedback">
                            Write a description !
                        </div>
                    </div>

                    <!-- Image URL -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="image" id="image" class="form-control" placeholder="Enter image URL"
                            required>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label class="form-label">Speciality</label>
                        <div class="row row1">
                            <div class="form-check col-12 col-sm-6 col-md-2">
                                <input class="form-check-input" type="checkbox" name="types" value="rooms"
                                    id="typeRooms">
                                <label class="form-check-label" for="typeRooms">Rooms</label>
                            </div>
                            <div class="form-check col-12 col-sm-6 col-md-2">
                                <input class="form-check-input" type="checkbox" name="types" value="mountains"
                                    id="typeMountains">
                                <label class="form-check-label" for="typeMountains">Mountains</label>
                            </div>
                            <div class="form-check col-12 col-sm-6 col-md-2">
                                <input class="form-check-input" type="checkbox" name="types" value="camping"
                                    id="typeCamping">
                                <label class="form-check-label" for="typeCamping">Camping</label>
                            </div>
                            <div class="form-check col-12 col-sm-6 col-md-2">
                                <input class="form-check-input" type="checkbox" name="types" value="farming"
                                    id="typeFarming">
                                <label class="form-check-label" for="typeFarming">Farming</label>
                            </div>
                            <div class="form-check col-12 col-sm-6 col-md-2">
                                <input class="form-check-input" type="checkbox" name="types" value="arctict"
                                    id="typeArctict">
                                <label class="form-check-label" for="typeArctict">Arctict</label>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Please enter Speciality of place!
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <!-- Price -->
                        <div class="mb-3 col-12 col-sm-6 col-md-3">
                            <label for="price" class="form-label">Price</label>
                            <input name="price" id="price" class="form-control" placeholder="Enter price" required>
                            <div class="invalid-feedback">
                                Please enter price!
                            </div>
                        </div>

                        <!-- Country -->
                        <div class="mb-3 col-12 col-sm-6 col-md-9">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="country" id="country" class="form-control"
                                placeholder="Enter country" required>
                            <div class="invalid-feedback">
                                Please enter country!
                            </div>
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" id="location" class="form-control"
                            placeholder="Enter location" required>
                        <div class="invalid-feedback">
                            Please enter location!
                        </div>
                    </div>

                    <!-- Submit button (full width) -->
                    <div class="col-12">
                        <button type="submit" class="btn  add-button">Save</button>
                    </div>
                </form>


            </div>
        </div>
    </body>